.level-object-view {
  background-color: white;
  color: black;
  font-size: normal;
  border: thick solid black;
  border-radius: 15px;
  box-shadow: 4px 8px #dddddd;
  width: auto;
  display: inline-block;
  vertical-align: top;
};

.object-pair {
}

.key-view {
  font-weight: bold;
  color: inherit;
  text-align: left;
  display: inline-block;
  padding-left: 5px;
  vertical-align: top;
}
